/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sample-fork-name: 'sample-fork';
$sample-fork-x: 0px;
$sample-fork-y: 0px;
$sample-fork-offset-x: 0px;
$sample-fork-offset-y: 0px;
$sample-fork-width: 32px;
$sample-fork-height: 32px;
$sample-fork-total-width: 64px;
$sample-fork-total-height: 64px;
$sample-fork-image: '../images/spritesmith-sample.png';
$sample-fork: (0px, 0px, 0px, 0px, 32px, 32px, 64px, 64px, '../images/spritesmith-sample.png', 'sample-fork', );
$sample-github-name: 'sample-github';
$sample-github-x: 32px;
$sample-github-y: 0px;
$sample-github-offset-x: -32px;
$sample-github-offset-y: 0px;
$sample-github-width: 32px;
$sample-github-height: 32px;
$sample-github-total-width: 64px;
$sample-github-total-height: 64px;
$sample-github-image: '../images/spritesmith-sample.png';
$sample-github: (32px, 0px, -32px, 0px, 32px, 32px, 64px, 64px, '../images/spritesmith-sample.png', 'sample-github', );
$sample-twitter-name: 'sample-twitter';
$sample-twitter-x: 0px;
$sample-twitter-y: 32px;
$sample-twitter-offset-x: 0px;
$sample-twitter-offset-y: -32px;
$sample-twitter-width: 32px;
$sample-twitter-height: 32px;
$sample-twitter-total-width: 64px;
$sample-twitter-total-height: 64px;
$sample-twitter-image: '../images/spritesmith-sample.png';
$sample-twitter: (0px, 32px, 0px, -32px, 32px, 32px, 64px, 64px, '../images/spritesmith-sample.png', 'sample-twitter', );
$spritesheet-width: 64px;
$spritesheet-height: 64px;
$spritesheet-image: '../images/spritesmith-sample.png';
$spritesheet-sprites: ($sample-fork, $sample-github, $sample-twitter, );
$spritesheet: (64px, 64px, '../images/spritesmith-sample.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
